.demo-basic {
  padding: 0; }

.demo-basic md-card-content {
  padding: 16px; }

.demo-full-width {
  width: 100%; }

.demo-icons {
  font-size: 100%;
  height: inherit;
  vertical-align: top;
  width: inherit; }

.demo-transform {
  -webkit-transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1); }

.demo-primary {
  color: #009688; }

.demo-card {
  margin: 16px; }
